<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<p>Your balance: <%= @user.balance %></p>

<form method="post" action="/deposit">
  <label for="deposit">Deposit: </label><input id="deposit" name="deposit" type="text" />
  <input type="submit" value="Deposit" />
</form>
<form method="post" action="/withdrawal">
  <label for="withdrawal">Withdrawal: </label><input id="withdrawal" name="withdrawal" type="text" />
  <input type="submit" value="Withdrawal" />
</form>

<p><a href="/logout">Log Out</a></p>
