<h1>Welcome <%= @user.username %></h1>
<h3>Balance: <%= @user.balance %></h3>
<p>We are currently working on your account.</p>

<form action="/account/deposit" method="post">
    <h4>Make a Deposit</h4>
    <input type="number" id="deposit" name="deposit" placeholder="0.0">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Submit">

</form>
<form action="/account/withdraw" method="post">
    <h4>Withdraw Money</h4>
    <input type="number" id="withdraw" name="withdraw" placeholder="0.0">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Submit">
</form>
<p><a href="/logout">Log Out</a></p>
