<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<% if logged_in? %>
    <h1>Your Username: <%= current_user.username %></h1>
    <h3>Your Balance: $<%= current_user.balance.to_i %></h3>
<% end %>

<p><a href="/logout">Log Out</a></p>
