<h1>Welcome</h1>

<% if flash.has?(:notice) %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash.has?(:error) %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<p>We are currently working on your account.</p>

<p>User balance: <%=@user.balance%>

<form action="/deposit" method="POST">
   <label for="deposit_amount">Deposit</label>
   <input type="text" name="deposit_amount" placeholder="" value="">
   <input type="submit" value="Deposit">
</form>

<form action="/withdrawal" method="POST">
   <label for="withdrawal_amount">Withdrawal</label>
   <input type="text" name="withdrawal_amount" placeholder="" value="">
   <input type="submit" value="Withdrawal">
</form>

<p><a href="/logout">Log Out</a></p>
