<h1>Deposit</h1>
<form action="/account/deposit" method="POST">
    <label for="">How Much Would You Like to Add to Your Account?</label><br>
    <h2>$ <input type="text" name="balance" placeholder="0.00"><br></h2>
    <input type="submit">
</form>
