<h1>Welcome <%= @user.username %></h1>

<p>You have successfully withdrawn.</p>
<p>Your New Balance: <%= @user.balance %></p>
<form method="post" action='/account/deposit'>
  <input type="number" name="deposit" placeholder="Deposit Amount:">
  <input type="submit" value="Deposit">
</form>

<form method="post" action='/account/withdraw'>
  <input type="number" name="withdraw" placeholder="Withdrawal Amount:">
  <input type="submit" value="Withdraw">
</form>

<p><a href="/logout">Log Out</a></p>
